//GREEN
$color_green_first: #47CE9E;
$color_green_second: #C7F6E6;
$color_green_thirty: #0A5B3F;

//BLACK
$color_black_first: #2D3633;

//WHITE
$color_white_first: #ffffff;
$color_white_second: #EFEFEF;
