#main_landing_page{
    overflow: hidden; 
    position: absolute;
    inset: 0 0 0 0;
    @include displayMode(flex, column, center, center, 1em);

    .centraline_container{
        // @include borderColor(blue);
        @include displayMode(flex, column, center, center, 0);  
        width: 80%;

        .section_title{
            // @include borderColor(blue);
            @include displayMode(flex, column, center, flex-end, 0.5em);  
            // width: 80%;
    
            .title_main{
                color: $color_green_thirty;
            }
    
            .container_title{
                // @include borderColor(green);
                @include displayMode(flex, column, center, center, 10px);
                width: 45%;
                list-style: none;
                text-align: center;

                li{
                    // width: 100%;
                    text-align: center;
                    @include borderColor(green);

                    h3{ 
                        // font-size: 1rem;
                        color: $color_black_first; 
                    }
                }
            }
        }
    }

    .sections{ 
        #tringular_figure{
            position: absolute;
            bottom: 0em;
            left: 0;
            z-index: -1;
            width: 100%;
            border-left: 1200px solid $color_black_first;
            border-top: 350px solid transparent;
        }

        #background_green{
            position: absolute;
            left: 0;
            right: 0;
            z-index: -2;
            bottom: -55em;
            background-color: $color_black_first;
            height: 60rem;
        }
    }
}