*{ 
    margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif
}

h1{
    font-weight: 800;
    font-size: 5rem;
}

h3{
    font-weight: 800;
    font-size: 1.4rem;
}

.sections{
    // @include borderColor(red);
    // @include displayMode(flex, col)
}

.button_large{
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.3rem;
    width: 70%;
    padding: 10px;
    background-color: $color_black_first;
    box-shadow: 2px 2px 10px $color_green_first;
    color: $color_white_first;
    cursor: pointer;
    text-decoration: none;
    transition: 500ms ease;

    &:hover{
        // border: 1px solid red;
        border: 1px solid transparent;
        transition: 500ms ease;
        background-color: $color_green_first;
        animation: 500ms button_large ease forwards;
    }
}

//ANIMATIONS
.translate_center_to_right{
    animation: 800ms translate_center_to_right ease forwards;
}

.hidden_element_animation{
    animation: 800ms hidden_element_animation ease forwards;
}

.translate_bottom_to_top{
    animation: 650ms translate_bottom_to_top ease forwards;
}

.writing_text{
    animation: 3.5s writing_text steps(40, end) infinite;
    // 400ms border_text linear infinite;
    // border: 1px solid red;
    overflow: hidden;
    // text-align: center;
    white-space: nowrap;
    margin: auto 0;
}

.disabled_element{
    display: none;
}

.hidden_element{
    opacity: 0;
    border: 1px solid transparent;
    z-index: -1;
}